{% extends "base.html" %} {% block title %} Check-Contact {% endblock %} 
{% comment %} jdfh;oa {% endcomment %}
{% block head %}
{% load static%}
<link rel="icon" type="image/svg+xml" href="{% static 'media/logo.svg' %}">
{% endblock %}
{% block body %}
</div>
     {% for message in messages  %}    
      <div id="floatingAlert" class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert" style="
          position: fixed;
          top: 20px;
          right: 20px;
          width: 25%;
          z-index: 1050;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      ">
          <span id="alertMessage">{{message}}</span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      {% endfor %}    
</div>
<div class="container my-3">
<h3>Contact Admin</h3>
<form action="/contact/" method="post">
{% csrf_token %}<div class="container">
  <form id="contactForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="name" required>
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" >
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="tel" class="form-control" id="phone" name="phone" >
    </div>

    <div class="form-group">
      <label for="content">Describe your issue :</label>
      <textarea class="form-control" name="content" id="content" cols="30" rows="5" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>



 {% endblock %}