{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css_files/home.css' %}" />
{% endblock %} {% block body %} {% load static %}
<div
  class="d-flex justify-content-center align-items-center"
  style="min-height: 100vh"
>
  <form class="row g-3 text-center">
    <div class="col-12">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="inputField"
          placeholder="Write PGN"
        />
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          PGN
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownMenuButton"
        >
          <li>
            <button
              class="dropdown-item"
              type="button"
              onclick="updatePlaceholder('PGN')"
            >
              PGN
            </button>
          </li>
          <li>
            <button
              class="dropdown-item"
              type="button"
              onclick="updatePlaceholder('Chess.com')"
            >
              Chess.com
            </button>
          </li>
          <li>
            <button
              class="dropdown-item"
              type="button"
              onclick="updatePlaceholder('Lichess.org')"
            >
              Lichess.org
            </button>
          </li>
          <li>
            <button
              class="dropdown-item"
              type="button"
              onclick="updatePlaceholder('JSON')"
            >
              JSON
            </button>
          </li>
        </ul>
        <button
          class="btn btn-outline-primary d-none"
          id="fetchButton"
          type="button"
          onclick="fetchGame()"
        >
          ➜
        </button>
      </div>
    </div>

    <div class="col-12" id="selectedGameContainer" style="display: none">
      <div class="alert alert-info text-center" id="selectedGameText"></div>
    </div>

    <div class="col-12 d-grid">
      <button
        type="button"
        class="btn btn-outline-primary"
        id="parsePGNButton"
        onclick="parsePGN()"
      >
        Parse PGN
      </button>
    </div>

    <div class="col-12 text-center mt-2">
      <small id="pgnParsedMessage" class="text-success" style="display: none">
        ✅ PGN parsed successfully!
      </small>
    </div>
  </form>
</div>

<!-- Loader Overlay -->
<div id="loader-overlay">
  <div class="loader"></div>
</div>
<!-- Modal for displaying games -->
<div
  class="modal fade"
  id="gameModal"
  tabindex="-1"
  aria-labelledby="gameModalLabel"
  style="display: none"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gameModalLabel">
          Select a Game for Analysis
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <button
          class="btn btn-primary mb-3 w-100 d-none"
          id="confirmSelection"
          onclick="confirmGameSelection()"
        >
          Select Game
        </button>
        <ul class="list-group" id="gameList"></ul>
        <button
          class="btn btn-primary mb-3 w-100"
          id="loadMore"
          onclick="fetchGame(false)"
        >
          Load More...
        </button>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js_files/home.js' %}" defer></script>
{% endblock %}
