.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

#board {
    width: 400px;
}

.review-panel {
    width: 40%;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.analyze-panel,
.move-list {
    height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    display: block;
}

.controls {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.controls button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.eval-bar-container {
    width: 30px;
    height: 300px;
    position: relative;
    background-color: #eee;
    border: 1px solid #333;
    display: inline-block;
    margin-right: 10px;
}

.eval-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #000;
    transition: height 0.3s ease-in-out;
}

.move-history {
    display: flex;
}

.move-list {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
}

.accuracy-box {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    min-width: 50px;
    text-align: center;
}

.accuracy-box.white {
    background-color: white;
    color: black;
    /* Text color for contrast */
    border: 2px solid black;
}

.accuracy-box.black {
    background-color: black;
    color: white;
    /* Text color for contrast */
    border: 2px solid white;
}

.classification-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
}

.highlighted-move {
    background-color: #787875;
    box-shadow: inset;
    border: #000;
    border-radius: 4%;

}